@{
    ViewData["Title"] = "Home Page";
}

<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://lh3.googleusercontent.com/ci/AL18g_T0SaE35zf0KFY88Lx-i-h6tZPYCXJfyCh8i4OGbWySEQvC3q1NEMj5Wllv9jnw1_3iozDR3AM=s1200" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://lh3.googleusercontent.com/ci/AL18g_TLHfJcfc0z8XCnkHdwwMH0sp0SIAXK82c_UhCinv8xnexUEnRCDIKxt1s01Bek_DaaM6hc2w=s1200" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSbh_7DiUdSDe_whkmvd7tIR2c9jMFFxddo3saC-p3opQ&s" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="offcanvas offcanvas-start show" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasLabel">Offcanvas</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        Content for the offcanvas goes here. You can place just about any Bootstrap component or custom elements here.
    </div>
</div>