@model PrimeiraAppWeb_2TDSPF.Models.Boardgame

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="https://cf.geekdo-images.com/x3zxjr-Vw5iU4yDPg70Jgw__itemrep/img/giNUMut4HAl-zWyQkGG0YchmuLI=/fit-in/246x300/filters:strip_icc()/pic3490053.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"> @Html.DisplayFor(model => model.Name)</h5>
                <p class="card-text">@Html.DisplayFor(model => model.Description)</p>
                <a href="#" class="btn btn-info">Buy a copy</a>
                <a href="#" class="btn btn-primary">Add to collection</a>
                <a href="#" class="btn btn-secondary">Log play</a>
                <a href="#" class="btn btn-secondary">4.9K</a>
                <br/>
                <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
                <a asp-action="Index">Back to List</a>
            </div>
            
        </div>
    </div>
</div>
<ul class="nav">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Active</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled">Disabled</a>
    </li>
</ul>